<div class="container py-4" dir="rtl" >
    <div class="text-center mb-4">
      <button class="btn btn-success" style="background-color: rgb(211, 126, 29);" (click)="GoToRequest()">إنشاء طلب جديد</button>
      <button class="btn btn-primary" style="position: fixed; bottom: 0; left: 0; right: 0; background-color: rgb(202, 124, 21); text-align: center;" routerLink="/">الذهاب إلى الصفحة الرئيسية</button> 

    </div>
  

    <h3 class="mb-4 text-center text-white">طلباتي</h3>
  
    <!-- Tabs -->
    <ul class="nav nav-pills justify-content-center mb-4">

      <li class="nav-item">
        <button class="nav-link" [class.active]="selectedTab === 'all'" (click)="setTab('all')">الكل</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" [class.active]="selectedTab === 'inProgress'" (click)="setTab('inProgress')">قيد التنفيذ</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" [class.active]="selectedTab === 'completed'" (click)="setTab('completed')">المكتملة</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" [class.active]="selectedTab === 'cancelled'" (click)="setTab('cancelled')">الملغية</button>
      </li>
    </ul>
  
    <div class="row g-3" style="color: #ecbb1a; ">
      <div class="col-12" *ngFor="let req of filteredRequests">
        <div class="card rounded-4 shadow-sm p-3">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <p class="mb-1 text-muted">تاريخ الطلب: {{ req.createdAt | date:'yyyy/MM/dd' }}</p>
              <p *ngIf="req.price" class="mb-1">السعر: {{ req.price | currency:'EGP' }}</p>
            </div>
            <div class="text-end">
              <span class="badge px-3 py-2" [ngClass]="getStatusClass(req.status)">
                {{ getStatusLabel(req.status) }}
              </span>
              <br />
              <a [routerLink]="['/request-details', req.id]" class="btn btn-sm btn-outline-primary mt-2">عرض التفاصيل</a>
                <button class="btn btn-success" (click)="redirectToRequestPage()">الذهاب إلى صفحة الطلب</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  