<header class="header" style="direction: rtl;">
  <nav >
    <div class="logo">
      <a [routerLink]=""><span>الكرمه للاعمال الهندسيه</span></a>
    </div>
      <input type="checkbox" id="menu-toggle"  >
      <label for="menu-toggle" class="menu-icon"  >&#9776;</label>
    

    <ul class="menu" >
      <li >
        <a  routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-house-door-fill me-1"></i> الصفحة الرئيسية
        </a>
      </li>
      <li >
        <a  routerLink="/login" routerLinkActive="active">
          <i class="bi bi-gear-fill me-1"></i> تسجيل الدخول
        </a>
      </li>
      <li>
        <a  routerLink="/registration" routerLinkActive="active">
          <i class="bi bi-gear-fill me-1"></i> حساب جديد
        </a>
      </li>
     
      <li>
        <!-- *ngIf="isLoggedIn" -->
        <a  routerLink="/techprofile" routerLinkActive="active">
          <i class="bi bi-person-circle me-1"></i> الملف الشخصي
        </a>
      </li>
      <li >
        <a  routerLink="/clientservice" routerLinkActive="active">
          <i class="bi bi-headset me-1"></i> خدمة العملاء
        </a>
      </li>
     
    </ul>
  </nav>
</header>