.custom-navbar {
  background-color: #dfabe4;
}

.navbar-brand {
  color: #141414 !important;
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar-nav .nav-item .navbar-brand {
  padding: 0.75rem 1.25rem;
  transition: background-color 0.3s ease;
}

.navbar-nav .nav-item .navbar-brand:hover {
  background-color: #afe5ee !important;
}

@media (max-width: 992px) {
  .navbar-nav .nav-item {
    text-align: center;
  }
}

.hover-effect {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-effect:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
