<nav class="navbar navbar-expand-lg bg-body-tertiary custom-navbar">
    <div class="container-fluid">
      <a class="navbar-brand"> </a>
      <img href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.nintendo.com%2Fus%2Fstore%2Fproducts%2Fworld-of-goo-switch%2F&psig=AOvVaw33sgtBR9fDyaPydBno30Ah&ust=1744697250156000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCKCV0PDt1owDFQAAAAAdAAAAABAE" alt="Logo" class="logo" width="100" height="50">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="navbar-brand" aria-current="page" routerLink="./" routerLinkActive="nav-link" [routerLinkActiveOptions]="{'exact': true}">الصفحه الرئيسيه</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" aria-current="page" routerLink="/offers" routerLinkActive="nav-link">الطلبات</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" aria-current="page" routerLink="/account-management" routerLinkActive="nav-link">ادارة الحساب</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" aria-current="page" routerLink="/profile" routerLinkActive="nav-link">الملف الشخصي</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" aria-current="page" routerLink="/customer-service" routerLinkActive="nav-link">خدمه العملاء</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" aria-current="page" routerLink="/site-info" routerLinkActive="nav-link">عن الموقع</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  
  
  