<div class="whatsapp-form">
    <h2>ارسال الشكوي علي الواتساب</h2>
    <form (ngSubmit)="sendMessage()" #whatsappForm="ngForm">
      <div class="form-group">
        <label for="phoneNumber">رقم التليفون</label>
        <input
          type="text"
          id="phoneNumber"
          class="form-control"
          [(ngModel)]="messageData.phoneNumber"
            name="phoneNumber" pattern="^(010|011|012|015)[0-9]{8}$"
          required
        />
      </div>
      <div class="form-group">
        <label for="message">الرساله</label>
        <textarea
          id="message"
          class="form-control"
          [(ngModel)]="messageData.message"
          name="message"
          required
        ></textarea>
      </div>
      <div class="btn-confirm" > 
             <button  style="background-color: rgb(230, 163, 81);border-radius:5px;" type="submit"[disabled]="!whatsappForm.form.valid">ارسال</button>
      </div>
    </form>
  </div>
  