.container {
    max-width: 600px;
    margin: 20px auto;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .order {
    padding: 0.5rem 2rem;
    border-radius: 50rem;
    background-color: #ffc107;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
   margin-right: 180px;
  }