
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<div class="container-fluid bg-dark text-white d-flex align-items-center justify-content-center vh-100" dir="rtl">
  <div class="w-100" style="max-width: 500px;">
    <div class="d-flex align-items-center justify-content-center mb-4">
      <span class="badge bg-warning text-dark fs-5 px-3 py-2 rounded-pill">طلب خدمة</span>
      <span class="user-circle d-flex align-items-center justify-content-center me-2">
        <i class="fas fa-sign-in-alt"></i>
      </span>
    </div>

    <form (ngSubmit)="onSubmit()" #requestForm="ngForm">
  
      <div class="form-group">
        <label for="serviceType">نوع الخدمة</label>
        <select id="serviceType" class="form-control mt-2" [(ngModel)]="request.serviceType" name="serviceType" required placeholder="اختر نوع الخدمة">
            <option value="" disabled selected>اختر نوع الخدمة</option>
            <option value="سباكه">سباكة</option>
            <option value="كهرباء">كهرباء</option>
            <option value="نجارة">نجارة</option>
            <option value="تكييف">تكييف</option>
            <option value="تنظيف">تنظيف</option>
            <option value="دهان">دهان</option>
            <option value="عماله عاديه">عماله عاديه</option>
            <option value="مباني">مباني</option>
            <option value="العزل">العزل</option>
            <option value="جيبسون بورد">جيبسون بورد</option>
            <option value="الومينتال">الومينتال</option>
            <option value="حداده كريتال">حداده كريتال</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="description">وصف المشكلة</label>
        <textarea id="description" class="form-control mt-2" [(ngModel)]="request.description" name="description" required required placeholder="اوصف العطل او الشغل اللي هتعمله"></textarea>
      </div>

      <div class="form-group">
        <label for="image">رفع صورة للمشكلة</label>
        <input type="file" id="image" (change)="onFileSelected($event)" class="form-control mt-2" required />
      </div>
  
      <div class="form-group">
        <label for="location">العنوان</label>
        <input type="text" id="location" class="form-control mt-2" [(ngModel)]="request.location" name="location" required />
      </div>
  
      <div class="form-group">
        <label for="serviceTime">وقت الخدمة المطلوب</label>
        <input type="datetime-local" id="serviceTime" class="form-control mt-2" [(ngModel)]="request.serviceTime" name="serviceTime" required />
      </div>
  
      <button type="submit" class="btn btn-link text-warning" class="order">إرسال الطلب</button>
    </form>
  </div>
</div>
