<div class="container-fluid bg-dark text-white d-flex align-items-center justify-content-center min-vh-100" dir="rtl">
    <div class="w-100" style="max-width: 500px;">
       
        <div class="side-menu">
            <div class="main-btn">
                <span>👤</span>
                <span>الملف الشخصي للفني</span>
              </div>
            <button class="rounded-box" (click)="open(TechPersonalInformationComponent)">البيانات الشخصية</button>
            <button class="rounded-box" (click)="open(RatingclientComponent)">التقييمات</button>
            <button class="rounded-box" (click)="open(OfferClientrequestComponent)">خدمات مطلوبة</button>
            <button class="rounded-box">خدمات منجزه</button>
            <button class="rounded-box">خدمات ملغاه</button>
            <button class="rounded-box">تسجيل الخروج</button>
          </div>
    </div>
</div>
