<div class="container-fluid bg-dark text-white d-flex align-items-center justify-content-center min-vh-100" dir="rtl">
    <div class="w-100" style="max-width: 500px;">
       
        <div class="side-menu">
            <div class="main-btn">
                <span>👤</span>
                <span>الملف الشخصي للعميل</span>
              </div>
            <button class="rounded-box" (click)="open(ClientinfoComponent)">البيانات الشخصية</button>
            <button class="rounded-box"  (click)="open(RatingAllComponent)">التقييمات</button>
            <button class="rounded-box" (click)="open(RequestFormComponent)">طلب خدمة</button>
            <button class="rounded-box" (click)="open(OfferListComponent)">العروض</button>
            <button class="rounded-box">تسجيل الخروج</button>
          </div>
    </div>
</div>
