.container {
    min-height: 800px;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-right: 375px;
    margin-left: 375px;
  }
  
  .row, .mb-3 {
    margin-bottom: 1rem;
  }
  .text-center {
    margin-top: auto;
    text-align: center;
  }
