<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
<div class="container-fluid text-white bg-dark py-4 full-page" dir="rtl">
  <div class="d-flex align-items-center justify-content-center mb-4">
    <span class="badge bg-warning text-dark fs-5 px-3 py-2 rounded-pill">الملف الشخصي</span>
    <span class="user-circle d-flex align-items-center justify-content-center me-2">
      <i class="fas fa-user"></i>
    </span>
  </div>

  <form [formGroup]="profileForm" class="h-100 d-flex flex-column justify-content-between" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
      <div class="col-md-3 mb-2">
        <input type="text" class="form-control rounded-pill" value="الاسم" readonly />
      </div>
      <div class="col-md-6 mb-2">
        <input type="text" formControlName="name" class="form-control rounded-pill" />
      </div>
      <div class="form-text text-danger">
        @if (FormControls['name'].invalid && FormControls['name'].touched) { @if
        (FormControls['name'].hasError('required')) {
        <span style="font-size: large">يجب كتابة الاسم</span>
        } }
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3 mb-2">
        <input type="text" class="form-control rounded-pill" value="الايميل" readonly />
      </div>
      <div class="col-md-6 mb-2">
        <input type="email" formControlName="email" class="form-control rounded-pill"
          placeholder="مثل name@gmail.com " />
      </div>
      <div class="form-text text-danger">
        @if (FormControls['email'].invalid && FormControls['email'].touched) {
        @if (FormControls['email'].hasError('required')) {
        <span style="font-size: large">يجب كتابة الايميل</span>
        }
        @if (FormControls['email'].hasError('pattern')) {
        <span style="font-size: large">الايميل غير صحيح</span>
        }
        }

      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-3 mb-2">
        <input type="text" class="form-control rounded-pill" value="الدور الخاص بك" readonly />
      </div>
      <div class="col-md-6 mb-2">
        <select id="serviceType" formControlName="serviceType" class="form-control" required pattern="^(عميل|فني)$"
          aria-placeholder="اختر فني او عميل ">
          <option value="عميل">عميل</option>
          <option value="فني">فني</option>
        </select>
      </div>
      <div class="form-text text-danger">
        @if (FormControls['serviceType'].invalid && FormControls['serviceType'].touched) {
        @if (FormControls['serviceType'].hasError('required')) {
        <span style="font-size: large">اختر فني او عميل</span>
        } }
      </div>
     
    </div>

    <div class="row mb-3">
      <div class="col-md-3 mb-2">
        <input type="text" class="form-control rounded-pill" value="كلمة السر" readonly />
      </div>

      <div class="col-md-6 mb-2">
        <div class="d-flex align-items-center">
          <input [type]="showPassword ? 'text' : 'password'" formControlName="password"
            class="form-control rounded-pill" />
          <button type="button"
            class="btn btn-outline-secondary rounded-circle d-flex align-items-center justify-content-center ms-2"
            style="width: 40px; height: 40px" (click)="togglePassword()">
            <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
          </button>
        </div>
      </div>

      <div class="form-text text-danger"
        *ngIf="profileForm.get('password')?.touched && profileForm.get('password')?.invalid">
        <span *ngIf="profileForm.get('password')?.hasError('required')" style="font-size: large">
          يجب كتابة كلمة السر
        </span>
        <span *ngIf="profileForm.get('password')?.hasError('pattern')" style="font-size: large">
          يجب ألا تقل كلمة السر عن 8 أحرف باللغة الإنجليزية وتحتوي على حروف كبيرة وصغيرة وأرقام ورموز
        </span>
      </div>
    </div>




    <div class="row mb-3">
      <div class="col-md-3 mb-2">
        <input type="text" class="form-control rounded-pill" value="تأكيد كلمة السر" readonly />
      </div>

      <div class="col-md-6 mb-2">
        <div class="d-flex align-items-center">
          <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword"
            class="form-control rounded-pill" />
          <button type="button"
            class="btn btn-outline-secondary rounded-circle d-flex align-items-center justify-content-center ms-2"
            style="width: 40px; height: 40px" (click)="toggleConfirmPassword()">
            <i class="fa" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
          </button>
        </div>
      </div>

      <div class="form-text text-danger"
        *ngIf="profileForm.get('confirmPassword')?.touched && profileForm.get('confirmPassword')?.invalid">
        <span *ngIf="profileForm.get('confirmPassword')?.hasError('required')" style="font-size: large">
          يجب كتابة كلمة السر
        </span>
        <span *ngIf="profileForm.get('confirmPassword')?.hasError('notMatching')" style="font-size: large">
          كلمة السر غير متطابقة
        </span>
      </div>
    </div>



    <div *ngIf="profileForm.get('serviceType')?.value === 'فني'">
      <div class="row mb-3" id="previouswork">
        <div class="col-md-3 mb-2">
          <input type="text" class="form-control rounded-pill" value="نوع الخدمة" readonly />
        </div>
        <div class="col-md-6 mb-2">
          <select id="service" formControlName="service" class="form-control">
            <option value="" disabled selected>اختر نوع الخدمة</option>
            <option value="0">بناء</option>
            <option value="1">سباكة</option>
            <option value="2">كهرباء</option>
            <option value="3">أرضيات وجدران</option>
            <option value="4">دهان</option>
            <option value="5">نجارة</option>
            <option value="6">زجاج وألوميتال</option>
            <option value="7">حدادة أساسية</option>
            <option value="8">عزل</option>
            <option value="9">عمالة منتظمة</option>
            <option value="10">جبسم بورد</option>
            <option value="11">تنظيف</option>
            <option value="12">توصيل</option>
            <option value="13">مورد</option>
          </select>
          @if (FormControls['service'].invalid && (FormControls['service'].dirty
          || FormControls['service'].touched)) {
          <div class="text-danger">
            <span style="font-size: large">اختر نوع الخدمة</span>
          </div>
          }
        </div>
        <!-- <div class="row mb-3">
          <div class="col-md-3 mt-3 mb-2">
            <input type="text" class="form-control rounded-pill" value="سابقة الاعمال" readonly />
          </div>
          <div class="col-md-6 mt-3 mb-2">
            <input type="text" formControlName="previousworkname" class="form-control rounded-pill"
              placeholder="اسم العمل" />
          </div>
        </div>

        <div class="form-text text-danger">
          @if (FormControls['previousworkname'].invalid &&
          FormControls['previousworkname'].touched) { @if
          (FormControls['previousworkname'].hasError('required')) {
          <span style="font-size: large">يجب كتابة سابقة الاعمال</span>
          } }
        </div>

        <div class="col-md-3 mb-2">
          <input type="text" class="form-control rounded-pill" value="رفع صور الاعمال" readonly />
        </div>
        <div class="col-md-6 mb-2">
          <input type="file" formControlName="previousworkimgs" class="form-control rounded-pill"
            (change)="onimagesSelected($event, 'previousworkimgs')" [multiple]="true" accept="image/*"
            placeholder="رفع صور الاعمال" />
        </div>
        <div class="form-text text-danger">
          @if (FormControls['previousworkimgs'].invalid &&
          FormControls['previousworkimgs'].touched) { @if
          (FormControls['previousworkimgs'].hasError('required')) {
          <span style="font-size: large">يجب رفع صور الاعمال</span>
          } }
        </div> -->
      </div>
    </div>

    <!-- <div class="row mb-3">
      <div class="col-md-3 mb-2">
        <input type="text" class="form-control rounded-pill" value="بطاقة شخصية" readonly />
      </div>
      <div class="col-md-6 mb-2">
        <input type="file" id="imageInput" formControlName="nationalIdImages" class="form-control rounded-pill"
          (change)="onFileSelected($event, 'nationalIdImages')" multiple accept="image/*" />
      </div>
      <div *ngIf="fileNames.length > 0">
        <li>
          الملفات المحددة :
          <ul *ngFor="let name of fileNames">
            {{
            name
            }}
          </ul>
        </li>
      </div>
      <div class="form-text text-danger">
        @if (FormControls['nationalIdImages'].invalid &&
        FormControls['nationalIdImages'].touched) { @if
        (FormControls['nationalIdImages'].hasError('required')) {
        <span style="font-size: large">يجب رفع 2 صورة البطاقة : امامي و ضهر</span>
        } }
      </div> -->
    <!-- </div> -->

    <div class="row mb-3">
      <div class="col-md-3 mb-2">
        <input type="text" class="form-control rounded-pill" value="رقم موبايل" readonly />
      </div>
      <div class="col-md-6 mb-2">
        <input type="text" formControlName="phone" class="form-control rounded-pill" placeholder="رقم تواصل (موبايل)"
          required />
      </div>
      <div class="form-text text-danger">
        @if (FormControls['phone'].invalid && FormControls['phone'].touched) {
        @if (FormControls['phone'].hasError('required')) {
        <span style="font-size: large">يجب ملئ الرقم </span>
        } @if (FormControls['phone'].hasError('pattern')) {
        <span style="font-size: large">يجب ملئ الرقم بشكل صحيح</span>
        } }
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3 mb-2">
        <input type="text" class="form-control rounded-pill" value="رقم تواصل (واتساب)" readonly />
      </div>
      <div class="col-md-6 mb-2">
        <input type="text" formControlName="whatsapp" class="form-control rounded-pill" placeholder="رقم تواصل (واتساب)"
          required />
      </div>
      <div class="form-text text-danger">
        @if (FormControls['whatsapp'].invalid &&
        FormControls['whatsapp'].touched) { @if
        (FormControls['whatsapp'].hasError('required')) {
        <span style="font-size: large">يجب ملئ الرقم الخاص بالواتساب</span>
        } @if (FormControls['whatsapp'].hasError('pattern')) {
        <span style="font-size: large">يجب ملئ الرقم بشكل صحيح</span>
        } }
      </div>
    </div>

    <div *ngIf="profileForm.get('serviceType')?.value === 'عميل'">
      <div class="row mb-3" id="clientSection">
        <div class="col-md-3 mb-2">
          <input type="text" class="form-control rounded-pill" value="العنوان" readonly />
        </div>
        <div class="col-md-6 mb-2">
          <input type="text" name="address" class="form-control rounded-pill" formControlName="address"
            placeholder="العنوان" />
        </div>
        <div class="form-text text-danger">
          @if (FormControls['address'].invalid &&
          FormControls['address'].touched) { @if
          (FormControls['address'].hasError('required')) {
          <span style="font-size: large">يجب ملئ العنوان</span>
          } }
        </div>
      </div>
    </div>

    <div class="text-center mt-4" style="margin-left: 250px">
      <button type="submit" class="btn btn-warning px-5 py-2 rounded-pill">
        تسجيل
      </button>
    </div>
  </form>
</div>