<div class="ratings-wrapper">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div *ngFor="let section of sections" class="rating-section">
        <div class="section-title">{{ section.title }}</div>
  
        <div class="rating-row" *ngFor="let c of section.criteria">
          <div class="stars">
            <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
              <i
                class="fa-star"
                [ngClass]="{
                  'fas': form.get(section.key + '_' + c.key)?.value >= star,
                  'far': form.get(section.key + '_' + c.key)?.value < star
                }"
                (click)="setRating(section.key + '_' + c.key, star)"
              ></i>
            </ng-container>
          </div>
          <div class="label">{{ c.label }}</div>
        </div>
      </div>
  
      <button type="submit" class="submit-btn">إرسال التقييم</button>
    </form>
  </div>
  