.ratings-wrapper {
    background: #0f1c24;
    padding: 2rem;
    border-radius: 20px;
    color: white;
    max-width: 900px;
    margin: auto;
  
    .section-title {
      background: #ea6c1b;
      border-radius: 20px;
      padding: 0.7rem 1.5rem;
      text-align: center;
      font-size: 1.5rem;
      margin: 2rem auto 1rem;
      width: fit-content;
    }
  
    .rating-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
  
      .label {
        background: white;
        color: #000;
        padding: 0.5rem 1rem;
        border-radius: 25px;
        font-size: 1rem;
        white-space: nowrap;
      }
  
      .stars {
        display: flex;
        gap: 5px;
  
        i {
          font-size: 1.5rem;
          color: #ffc107;
          cursor: pointer;
  
          &.far {
            color: #ccc;
          }
        }
      }
    }
  
    .submit-btn {
      margin-top: 2rem;
      padding: 0.5rem 2rem;
      background: #ea6c1b;
      color: white;
      border: none;
      border-radius: 15px;
      font-size: 1rem;
      display: block;
      margin-inline: auto;
      cursor: pointer;
    }
  }
  