<div class="dashboard">
    <div class="home-btn">
      <!-- <i ></i> -->
      <a  class="fas fa-home" href=""></a>
    </div>
  
    <div class="user-info">
      <i class="fas fa-user-circle"></i>
      <span>حساب عميل</span>
    </div>
  
    <div class="main-action">
      <i class="bg-success"></i>
      <button (click)="redirectToOfferList()">طلب لخدمة</button>
    </div>
  
    <!-- Sidebar Actions -->
    <div class="sidebar">
      <button><i class="fas fa-user"></i> الملف الشخصي</button>
      <button><i class="fas fa-cog"></i> الحساب</button>
      <button><i class="fas fa-tasks"></i> خدمات مطلوبة</button>
      <button><i class="fas fa-check-circle"></i> خدمات منجزه</button>
      <button><i class="fas fa-times-circle"></i> خدمات ملغاه</button>
      <button><i class="fas fa-sticky-note"></i> ملاحظاتي</button>
      <button class="pay-btn" (click)="pay()">
        
        <i class="fas fa-credit-card"></i> دفع الآن
      </button>
    </div>
  </div>
  