<div dir="rtl" class="app-container">

    <section id="home" class="hero" style="animation: fadeIn 2s ease-in-out;">
      <h1 class="features-list">مرحبًا بك في موقع الكرمة للصيانة المنزلية</h1>
      <p>سهولة في طلب الخدمة، وصول سريع إلى الفني، وجودة مضمونة</p>
    </section>
    <section id="features" class="features">
      <h2>مميزات الموقع</h2>
      <ul class="features-list">
        <li>سهولة طلب الخدمة</li>
        <li>الوصول السريع إلى الفني</li>
        <li>جودة الخدمة الممتازة</li>
        <li>أسعار تفاوضية تناسب الجميع</li>
        <li>خدمة في الوقت المناسب</li>
        <li>دعم فني متواصل</li>
        <li>تقييم الفنيين لضمان الجودة</li>
        <li>تنبيهات فورية لحالة الطلب</li>
        <li>تجربة مستخدم مميزة</li>
        <li>واجهة بسيطة وسهلة الاستخدام</li>
      
        
      </ul>
    </section>
  
   <!-- Services Section -->
  <section id="services" class="services">
    <h2>التخصصات</h2>
    <div class="services-grid">
  
      <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGw-VzhIMS2GbZFLXjiiJUlADnhp6kz1J7JA&s" alt="المباني" style="width:100px; height:100px;shape-rendering: auto;box-shadow: 2px;border-radius: 10%;" />
        <p>المباني</p>
      </div>
      <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7Ics2IJXMQxrqoZ_0ylUQElUtBavkuJfL-w&s" alt="سباكة" style="width:100px; height:100px;shape-rendering: auto;box-shadow: 2px;border-radius: 10%;" />
        <p>سباكة</p>
      </div>
  
      <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVVrdlJcZlwQhb0uGN1D6CXKEVKi10E_t9EQ&s" alt="كهرباء"  style="width:100px; height:100px;shape-rendering: auto;box-shadow: 2px;border-radius: 10%;"/>
        <p>كهرباء</p>
      </div>
  
      <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRM3VfWKi5zxqqfD0J0C0Ym1octuPqBbTpSkA&s" alt="دهانات"style="width:100px; height:100px;shape-rendering: auto;box-shadow: 2px;border-radius: 10%; "/>
        <p>دهانات</p>
      </div>
  
      <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQePuZIM94tF44K6AZ4dDMRfTgVjv21n3Hd6Q&s" alt="ارضيات وحوائط"style="width:100px; height:100px;shape-rendering: auto;box-shadow: 2px;border-radius: 10%;" />
        <p>ارضيات وحوائط</p>
      </div>
  
      <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZyzN-Nq3QbE0zupZ6jTpbY1LeBFA8Ium3yw&s" alt="الالومينتال والزجاج"style="width:100px; height:100px;shape-rendering: auto;box-shadow: 2px;border-radius: 10%;" />
        <p>الالومينتال والزجاج</p>
      </div>
  
      <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS168ra_-_AW34VJaie_p-KF7qhoyOsh-CMWw&s" alt="حداده كريتال"style="width:100px; height:100px;shape-rendering: auto;box-shadow: 2px;border-radius: 10%;" />
        <p>حداده كريتال</p>
      </div>
  
      <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSstc3DmYcrweolOFA1LxyMzZRTXDvao30t2Q&s" alt="العزل"style="width:100px; height:100px;shape-rendering: auto;box-shadow: 2px;border-radius: 10%;" />
        <p>العزل</p>
      </div>
  
      <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS55dX2nTUclJp0bppVfPwTYL6KcvFhFfdiDw&s" alt="نجارة"style="width:100px; height:100px;shape-rendering: auto;box-shadow: 2px;border-radius: 10%;"/>
        <p>نجارة</p>
      </div>
  
      <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRp_fMFvi4GxJRlF6jHNnM2GfmiRbGd9ZYDiQ&s" alt="عماله عاديه"style="width:100px; height:100px;shape-rendering: auto;box-shadow: 2px;border-radius: 10%;" />
        <p>عماله عاديه</p>
      </div>
  
      <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgzp2o1qSZ2bdTYWaEtErwd_f5OrxCufgntg&s" alt="جيبسن بورد"style="width:100px; height:100px;shape-rendering: auto;box-shadow: 2px;border-radius: 10%;" />
        <p>جيبسن بورد</p>
      </div>
  
      <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5BAVyE5Qmc-_yauURt2aqsj0DqGYtL7qgjg&s" alt="التنظيف" style="width:100px; height:100px;shape-rendering: auto;box-shadow: 2px;border-radius: 10%;"/>
        <p>التنظيف</p>
      </div>
    </div>
  </section>

  
    <!-- Screenshots -->
    <section id="screenshots" class="screenshots">
      <h2>بعض الاعمال المنجزة داخل الموقع</h2>
      <div class="image-gallery">
        
        <div class="card-img-top">
          <img src="" alt="Screenshot 1" />
          <img src="" alt="Screenshot 2" />
          <img src="" alt="Screenshot 3" />
          <img src="" alt="Screenshot 4" />
        </div>
        <div class="card-img-top">
          <img src="" alt="Screenshot 1" />
          <img src="" alt="Screenshot 2" />
          <img src="" alt="Screenshot 3" />
          <img src="" alt="Screenshot 4" />
        </div>  
        <div class="card-img-top">
          <img src="/src/app/Assets/images/logo.jpeg" alt="Screenshot 1" />
          <img src="" alt="Screenshot 2" />
          <img src="" alt="Screenshot 3" />
          <img src="" alt="Screenshot 4" />
        </div>
       

      </div>
    </section>
  
       <footer class="bg-body-tertiary custom-footer py-3 mt-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-12 text-center text-md-start">
            <p style="text-align:center; margin: 0;">&copy; 2025 الكرمه للاعمال الهندسيه. جميع الحقوق محفوظة</p>
          </div>
          
        </div>
      </div>
    </footer>
  
  </div>
  