<div class="container py-4">
    <h2 class="mb-4">العروض</h2>
    <div *ngIf="loading">Loading...</div>
    <div *ngIf="!loading && offers.length === 0">لا توجد عروض متاحه</div>
  
    <div *ngFor="let offer of offers" class="card mb-3 p-3 shadow-sm rounded">
      <div>
        <strong> السعر:</strong> {{ offer.Price }}  
      </div>
      <div>
        <strong>حاله العرض:</strong> {{ offer.OfferStatus }}
      </div>
      <div>
        <strong>بدايه الوقت:</strong> {{ offer.StartTime | date:'short' }}
      </div>
      <div>
        <strong>نهايه الوقت:</strong> {{ offer.TimeToFinish | date:'short' }}
      </div>
      <div>
        <strong>ملاحظات:</strong> {{ offer.Notes }}
      </div>
      <div>
        <!-- <strong>Description:</strong>
        <span *ngIf="offer.OfferDescription">
          <a [href]="'data:text/plain;base64,' + offer.OfferDescription" download="description.txt">Download Description</a>
        </span> -->
      </div>
    </div>
  </div>
  